.satoshis-quest7 {
  align-self: stretch;
  position: relative;
  line-height: 44px;
  font-weight: 500;
}
.playsatoshisquest13 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-regular-size);
  line-height: 24px;
  font-family: var(--font-open-sans);
}
.background,
.satoshis-quest-parent5 {
  width: 100%;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
}
.satoshis-quest-parent5 {
  background-color: var(--color-mediumseagreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-base);
  gap: var(--gap-base);
  max-width: 883px;
}
.background {
  background-color: var(--color-white);
  padding: var(--padding-base);
  max-width: 1920px;
  max-height: 1080px;
}
.background,
.pop-up,
.transparent-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.transparent-area {
  align-self: stretch;
  flex: 1;
}
.pop-up {
  width: 3118px;
  position: relative;
  height: 1943px;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-whitesmoke-200);
  font-family: var(--font-roboto-slab);
}
